.hero_card_container {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #ffffff;

}

#intro {
    background-image: url('../images/hero.webp');
    background-position: center;
    background-size: cover;
}

@media (max-width: 550px) {
    .hero_card_container {
        top: 30%;
        left: 30%;
    }
}