<head>
    <link rel="stylesheet" href="/css/upload.css">
</head>

<body>

    <div class="navbar_form">
        <form id="customizationForm" class="customizationForm">
            <div class="input_div">
                <div class="single_div">
                    <label for="name">Navbar Name:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="single_div">
                    <label for="logo">Logo Class:</label>
                    <input type="text" id="logo" name="logo">
                </div>
            </div>

            <div class="input_div">
                <div class="single_div">

                    <label for="linkClass">Link Class:</label>
                    <input type="text" id="linkClass" name="linkClass">
                </div>
            </div>

            <div class="input_div">
                <div class="single_div">

                    <label for="ParentClass">Parent class:</label>
                    <input type="text" id="ParentClass" name="ParentClass">
                </div>
                <div class="single_div">


                    <label for="navbarLinkCode">Navbar Link Code:</label>
                    <input type="text" id="navbarLinkCode" name="navbarLinkCode">
                </div>
            </div>

            <div class="input_div">
                <div class="single_div code_div">

                    <label for="htmlCode">HTML Code:</label>
                    <textarea id="htmlCode" name="htmlCode" placeholder="Paste HTML code here..."></textarea>
                </div>
                <div class="single_div code_div">

                    <label for="cssCode">CSS Code:</label>
                    <textarea id="cssCode" name="cssCode" placeholder="Paste CSS code here..."></textarea>
                </div>
            </div>
            <button class="btn-shine" type="submit" onsubmit="">
                <span>upload/update</span>
            </button>
        </form>
    </div>

</body>

<script>
    const form = document.getElementById("customizationForm");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const formObject = {};
        formData.forEach((value, key) => {
            formObject[key] = value;
        });

        console.log(formObject);

        const upload = await fetch("/uploadForm", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(formObject),
        });

        const uploadData = await upload.json();
        console.log(uploadData);
        if (uploadData && uploadData.message === "uploaded successfully") {
            window.location.reload();
        }
        if(uploadData && uploadData.message === "Please fill all the fields"){
            alert("Please fill all the fields");
        }
    });

</script>