<%- include('./partials/header.ejs') %>

    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>

        <div class="navbar_form">
            <form id="FooterForm" class="customizationForm">
                <div class="input_div">
                    <div class="single_div">
                        <label for="name">Footer Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="single_div">
                        <label for="logo">Logo Class:</label>
                        <input type="text" id="logo" name="logo" required>
                    </div>
                </div>

                <div class="input_div">
                    <div class="single_div">
                        <label for="EmailClass">Email Class:</label>
                        <input type="text" id="EmailClass" name="EmailClass" required>
                    </div>
                    <div class="single_div">
                        <label for="phoneNoClass">Phone No Class:</label>
                        <input type="text" id="phoneNoClass" name="phoneNoClass" required>
                    </div>
                    <div class="single_div">
                        <label for="AddressClass">Address Class:</label>
                        <input type="text" id="AddressClass" name="AddressClass" required>
                    </div>
                </div>

                <div class="input_div">
                    <div class="single_div">

                        <label for="ParentClass">Parent class:</label>
                        <input type="text" id="ParentClass" name="ParentClass" required>
                    </div>
                    <div class="single_div">
                        <label for="linkClass">Link Class:</label>
                        <input type="text" id="linkClass" name="linkClass" required>
                    </div>
                    <div class="single_div">
                        <label for="FooterLinkCode">Footer Link Code:</label>
                        <input type="text" id="FooterLinkCode" name="FooterLinkCode" required>
                    </div>

                </div>

                <div class="input_div">
                    <div class="single_div code_div">

                        <label for="htmlCode">HTML Code:</label>
                        <textarea id="htmlCode" name="htmlCode" placeholder="Paste HTML code here..."
                            required></textarea>
                    </div>
                    <div class="single_div code_div">

                        <label for="cssCode">CSS Code:</label>
                        <textarea id="cssCode" name="cssCode" placeholder="Paste CSS code here..." required></textarea>
                    </div>
                </div>
                <div class="input_div">
                    <input type="file" id="fileInput" name="fileInput">
                </div>


                <button class="btn-shine" type="submit" onsubmit="">
                    <span>upload</span>
                </button>
            </form>
        </div>

    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let textareas = document.querySelectorAll("textarea");

            textareas.forEach((textarea) => {
                textarea.addEventListener("input", (e) => {
                    textarea.style.height = "19px";
                    let newHeight = e.target.scrollHeight;

                    if (newHeight <= 200) {
                        textarea.style.height = `${newHeight}px`;
                    } else {
                        textarea.style.height = "300px";
                    }
                });
            });

            // Form submission handling
            const form = document.getElementById("FooterForm");
            form.addEventListener("submit", async function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Collect form data
                const formData = new FormData(form);
                const formObject = {};
                formData.forEach((value, key) => {
                    formObject[key] = value;
                });

                const fileInput = document.getElementById("fileInput");
                const file = fileInput.files[0];
                const storedFile = Date.now() + file.name;
                console.log(storedFile);

                if (file) {
                    formObject.fileName = storedFile;
                    let dataa = new FormData();
                    dataa.append('name', storedFile);
                    dataa.append('file', file);

                    const response = await fetch("/upload", {
                        method: "POST",
                        body: dataa,
                    });
                    const data = await response.json();


                    console.log(formObject);

                    const upload = await fetch("/uploadFooter", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(formObject),
                    });

                    const uploadData = await upload.json();
                    console.log(uploadData);
                    if (uploadData && uploadData.message === "uploaded successfully") {
                        window.location.reload();
                    }
                } else {
                    console.log("No file selected");
                }
            });
        });
    </script>
    <%- include('./partials/footer.ejs') %>