.GenratePage_div {
  padding-top: 70px;
  display: flex;
}
.leftOptions {
  width: 20%;
  height: calc(100vh - 70px);
  background-color: #f5f5f5;
  padding: 10px 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.leftOptions h1 {
  margin-bottom: 20px;
  text-align: center;
}
.leftOptions .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leftOptions .content .content1 button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 500;
}
.leftOptions .content .content1 button:hover {
  background-color: #e0e0e0;
}

.rightDiv {
  width: 80%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  position: relative;
  padding-bottom: 50px;
}

.rightDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.div h2 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 10%;
}
.div h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.div .btn_div {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}
.light-button button.bt {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  outline: none;
  background: none;
  border: none;
}

.light-button button.bt .button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: #58687a;
  border-radius: 5px;
  color: #998e8e;
  font-weight: 700;
  transition: 300ms;
  outline: #58687a 2px solid;
  outline-offset: 20;
}

.light-button button.bt .button-holder svg {
  height: 50px;
  fill: #998e8e;
  transition: 300ms;
}

.light-button button.bt .light-holder {
  position: absolute;
  height: 200px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button button.bt .light-holder .dot {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #58687a;
  border-radius: 10px;
  z-index: 2;
}

.light-button button.bt .light-holder .light {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  background: transparent;
}

.light-button button.bt:hover .button-holder svg {
  fill: #f5f5f5;
}

.light-button button.bt:hover .button-holder {
  color: #f5f5f5;
  outline: #f5f5f5 2px solid;
  outline-offset: 2px;
}

.light-button button.bt:hover .light-holder .light {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    #f5f5f5 0%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}
